.header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	width: 100%;
	z-index: 100;
	position: sticky;
}
.header__icon {
	height: 50px;
	object-fit: contain;
	margin-left: 20px;
}
.header__center {
	display: flex;
	flex: 1;
	align-items: center;
	max-width: fit-content;
	padding: 10px;
	height: 30px;
	border: 1px solid lightslategray;
	border-radius: 99px;
}
.header__center > input {
	border: none;
	padding: 10px;
	outline-width: 0;
	/* width: 250px; */
}
.header__right {
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* width: 15vw; */
	margin-right: 80px;
}
